bazel-*

# KSP2
lib/ksp2
*.log

# dotnet
.config/

# Visual Studio
.vs/
.localhistory/
bin
obj

# NUNIT
*.VisualState.xml
TestResult.xml

# NuGet
*.nuget.props
*.nuget.targets

# Python
__pycache__/
*.pyc
.env
.venv

# MSBuild Binary and Structured Log
*.binlog

# JetBrains
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
