bazel-*

# KSP2
lib/ksp2
*.log

# Visual Studio
.vs/
.localhistory/
bin
obj

# NUNIT
*.VisualState.xml
TestResult.xml

# NuGet
*.nuget.props
*.nuget.targets

# Python
__pycache__/
*.pyc
.env
.venv

# MSBuild Binary and Structured Log
*.binlog
