{
  "mod_id": "krpc2",
  "author": "djungelorm",
  "name": "kRPC2",
    "description": "Remote Procedure Calls for KSP2. Control the game using Python, C#, C++, C, Lua, Java...",
  "source": "https://github.com/krpc/krpc2",
  "version": "{VERSION}",
  "dependencies": [],
  "ksp2_version": {
    "min": "0",
    "max": "1"
  }
}
