using System.Reflection;
using System.Runtime.CompilerServices;
[assembly: AssemblyTitle ("KRPC2.SpaceCenter")]
[assembly: AssemblyDescription ("SpaceCenter service for kRPC2")]
[assembly: AssemblyCopyright ("kRPC Org")]
[assembly: AssemblyVersion ("{VERSION}")]
