using System.Reflection;
using System.Runtime.CompilerServices;
[assembly: AssemblyTitle ("KRPC2")]
[assembly: AssemblyDescription ("RPC server for Kerbal Space Program 2")]
[assembly: AssemblyCopyright ("kRPC Org")]
[assembly: AssemblyVersion ("{VERSION}")]
